GtkWindow{
	background: white;
	font-family: "Droid Sans";
}
GtkButton{
	border:0px;
	background: white;

	font-size:25px;
	font-weight: bold;
	color: black;
}
	GtkButton:hover{
		border:0px;
		background: #1aebff;
		border-radius: 5px;
	}
	#ok-button{
		background-image:url('usr/share/themes/black/start.png');
		background-repeat: no-repeat;
		background-position: 5px 5px;
	}
Gtkcursor{
	color:red;
} 
/*Taskbar*/



#adesk_button{
	background: white;
	color:black;
}

.selected{
	/*background: #ffff00;*/
	background: black;
	color: white;
}
	.selected:hover{
		color: black;
	}
GtkScrollbar {
	border-width: 30px;

    /* Override any background with
     * a full transparent color
     */
	/*background-image: none;
	background-color: blue;
	border:30px solid red;*/
}
