#now_playing{
	width: 100%;
	clear: both;
}

#now_playing #cover{
	display: inline-block;
	background: white;
	border-radius: 5px;
	margin: 0px 30px 40px 0px;
	float: left;
}
	#now_playing #cover img{
		width: 100px;
		height: 100px;
		border-radius: 5px;
	}

	#now_playing #title{
		display: inline-block;
		height: 100px;
		float: left;
	}

	#now_playing #title h3{
		font-size: 30px;
		margin-bottom: 18px;
	}

[type_control=html_select]{
	position: absolute;
	width: 95%;
	top: 400px;
	right: 1000px;
	bottom: 10px;
	left: 31px;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../../styles/icons_font.otf');
	font-weight: normal;
	font-style: normal;
}

.icon{
	font-family: 'FontAwesome';
	color: black;
}