#title_bar{
	display: none;
}

#menu
{
	top:0px;
}

#basic
{
	top:0px;
	text-align: center;
}

#logo_login{
	margin: 75px auto;
	width: 200px;
	height: 200px;
}

input[type="text"], input[type="password"], select, [type_control=html_select_simple]{
	width: 400px;
	display:inline-block;
}