@font-face {
	font-family: 'FontAwesome';
	src: url('../../styles/icons_font.otf');
	font-weight: normal;
	font-style: normal;
}

.icon{
	font-family: 'FontAwesome';
	color: black;
}

#aa{
	width: 100%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	top:130px;
}

	#aa iframe{
		width: 100%;
		height: 100%;
	}

canvas{
	width: 100%;
}

#buttons{
	z-index: 2;
}

