textarea{
	width: 800px;
	height: 1000px;
	padding: 100px 60px;
	background: white;
	color: black;
	border-radius: 0px;
}

#pages{
	overflow: auto;
	position: absolute;
	top:150px;
	right: 0px;
	bottom: 10px;
	left: 0px;
	text-align: center;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../../styles/icons_font.otf');
	font-weight: normal;
	font-style: normal;
}

.icon{
	font-family: 'FontAwesome';
	color: black;
}

.separator{
	height: 80px;
	overflow: hidden;
}